{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}
<div class="container col-lg-8 col-xl-4 col-xxl-4 mx-auto">
    <h1 class="header-top">About</h1>
    <div class="text-center">
        <p>Printify started as my final project submission for <a href="https://cs50.harvard.edu/x/2021/">Harvard's CS50x
            course</a> and is still under further development.</p>
        <p>For my project, I wanted to challenge myself to build a web app that calls on an API.
            Around the same time, I came across the practice of generative art/ creative coding and was inspired to
            create art from data obtained from <a href="https://developer.spotify.com/documentation/web-api/">Spotify's Web API</a>.</p>
        <p>These two things culminated in the development of Printify, a web app that generates art prints from Spotify's Audio
            API. I had a lot of fun making this app, and I hope you have fun using it too! </p>
        <p></p>
        <p>Find the source code <a href="https://github.com/fangningtan/printify">here</a>.</p>
    </div>
</div>
{% endblock %}
